@media screen and (min-width: 480px) {
  .advantages {
    padding: 60px 0;
    .advantages__title {
      @include thirdFont;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .advantages__item {
      @include primaryFont;
      color: $primary-text-color;
    }
  }

  .advantages__list {
    @include list-style();
  }
  .container-min {
    width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    @include centred;
  }
}
@media screen and (max-width: 767px) {
  .advantages__title {
    display: flex;
    justify-content: center;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .advantages__item {
    margin: 15px;
  }

  .advantages__description {
    width: 354px;
  }
  .container-min {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0;
  }
  .advantages__description {
    width: 270px;
  }
  .container-min {
    width: 270px;
  }
}
