@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    align-items: center;
    .auth-nav__icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
  .auth-nav__item {
    @include list-style;
  }
  .auth-nav__link {
    @include fifthFont;
    font-size: 12px;
    line-height: 1.16;
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: $accent-color;
      fill: currentColor;
    }
  }
  .auth-nav__list {
    @include list-style;
    margin-left: auto;
  }
}
@media screen and (max-width: 1199px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    .auth-nav__icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }

  .auth-nav__link {
    @include centred;
    @include fifthFont;
    color: $primary-text-color;
    padding: 31px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: $accent-color;
      fill: currentColor;
    }
  }

  .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
  }
}
