.logo,
.logo__footer {
  display: flex;
  align-items: center;
  font-family: $first-font;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .logo__accent,
  .logo__footer__accent,
  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}
.page__header {
  background-color: $second-text-color;
  border-bottom: 1px solid $border-color;
}
.logo {
  color: $title-text-color;
}
.logo__footer {
  color: $second-text-color;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .logo,
  .logo__footer {
    font-size: 26px;
    line-height: 1.19;
    justify-content: start;
  }
}
