$primary-text-color: #757575;
$second-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$second-back-color: #2f303a;
$contacts-color: rgba(255, 255, 255, 0.6);
$team-back-color: #f5f4fa;
$border-color: #ececec;
$first-font: Raleway, sans-serif;
$second-font: Roboto, sans-serif;
$back-overlay: rgba(33, 150, 243, 0.9);
$placeholder-comment-color: rgba(117, 117, 117, 0.5);
